.text {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
  }

  &-title {
    font: var(--font-l);
  }

  &-text {
    font: var(--font-m);
  }
}

.error {
  color: var(--red-dark);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
