.page-component {
  // width: 100%;
  flex-shrink: 100;
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;

  &-trigger {
    /* нужны какие-нибудь стили, чтобы обзервер корректно регистрировал в области экрана этот элемент при скролле */
    height: 20px;
    margin: 10px;
  }
}
