.article-details {
  &-avatar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-block {
    margin-top: 16px;
  }
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-right: 15px;
  margin-top: 10px;
}
