.sidebar {
  background-color: var(--inverted-bg-color);

  height: calc(100vh - var(--navpanel-height));

  transition: width 0.3s ease-in-out;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  align-items: center;

  padding: 20px;

  &-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  &-settings {
    display: flex;
    gap: 8px;

    &-collapsed {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.open {
  width: var(--sidebar-width);
}

.collapse-button {
  position: absolute;
  right: -40px;
  bottom: 40px;
  z-index: 10;
}

.sidebar.collapsed {
  padding: 10px 5px;
}
