.sidebar {
  background-color: var(--inverted-bg-color);
  height: calc(100vh - var(--navpanel-height));

  transition: width 0.15s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.open {
  width: var(--sidebar-width);
}
