.app_dark_theme {
  --bg-color: rgb(115 115 115);
  --inverted-bg-color: rgb(222 211 211);

  --hovered-bg-color: rgb(94, 89, 89);
  --hovered-inverted-bg-color: rgb(204, 188, 188)

  --primary-text-color: rgb(0 75 16);
  --secondary-text-color: rgb(29 225 81);
}
