.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  --hovered-bg-color: rgb(94, 89, 89);
  --hovered-inverted-bg-color: rgb(204, 188, 188);

  --primary-text-color: #04ff04;
  --secondary-text-color: #04ff04;

  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}
