.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --hovered-bg-color: rgb(185, 173, 173);
  --hovered-inverted-bg-color: rgb(207, 193, 193);

  --primary-text-color: #0232c2;
  --secondary-text-color: #0449e0;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
