.app_orange_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #bd5012;

  --hovered-bg-color: rgb(185, 173, 173);
  --hovered-inverted-bg-color: rgb(207, 193, 193);

  --primary-text-color: #9a1a0e;
  --secondary-text-color: #d01f0e;

  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;
}
