.article-details-page {
  min-height: 100%;

  &-comments-title {
    margin-top: 20px;
  }

  &-recomendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
