.profile-data {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);

  &-header {
    display: flex;
  }

  &-content {
    margin-top: 20px;
  }

  &-input {
    margin-top: 10px;
  }

  &-edit-button {
    margin-left: auto;
  }
}
