.BIG {
  .article-list {
    &-item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.SMALL {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .article-list-item {
    display: inline-flex;
    height: 300px;
  }

  .article-list-row {
    display: flex;
    gap: 30px;
  }
}
