a {
  list-style-type: none;
  text-decoration: none;
}

.unstyled {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.primary {
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.primary-inverted {
  color: var(--inverted-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.secondary {
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.secondary-inverted {
  color: var(--inverted-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
